[Desktop Entry]
Version=1.0
Type=Application
Name=Notepad
GenericName=Terminal emulator
Comment=Open Neovim in Note Directory
TryExec=kitty
StartupNotify=true
Exec=kitty -e sh -c 'cd ~/Notepad && file="Untitled.txt"; coutert=1; while [ jnvim && :new'
Icon=/home/flyinghawk/dotfiles/notepad/notepad.png
Categories=Utility;


