@define-color accent_color {{colors.primary.hex}};
@define-color accent_fg_color {{colors.onPrimary.hex}};
@define-color accent_bg_color {{colors.primary.hex}};
@define-color window_bg_color {{colors.background.hex}};
@define-color window_fg_color {{colors.onBackground.hex}};
@define-color headerbar_bg_color {{colors.surfaceDim.hex}};
@define-color headerbar_fg_color {{colors.onSurface.hex}};
@define-color popover_bg_color {{colors.surfaceDim.hex}};
@define-color popover_fg_color {{colors.onSurface.hex}};
@define-color view_bg_color {{colors.surface.hex}};
@define-color view_fg_color {{colors.onSurface.hex}};
@define-color card_bg_color {{colors.surface.hex}};
@define-color card_fg_color {{colors.onSurface.hex}};
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
