$primary_paletteKeyColor: #747965;
$secondary_paletteKeyColor: #76786B;
$tertiary_paletteKeyColor: #737A5E;
$neutral_paletteKeyColor: #787774;
$neutral_variant_paletteKeyColor: #787774;
$background: #131311;
$onBackground: #E5E2DE;
$surface: #131311;
$surfaceDim: #131311;
$surfaceBright: #393937;
$surfaceContainerLowest: #0E0E0C;
$surfaceContainerLow: #1C1C19;
$surfaceContainer: #20201D;
$surfaceContainerHigh: #2A2A28;
$surfaceContainerHighest: #353532;
$onSurface: #E5E2DE;
$surfaceVariant: #474744;
$onSurfaceVariant: #C8C6C2;
$inverseSurface: #E5E2DE;
$inverseOnSurface: #31302E;
$outline: #92908D;
$outlineVariant: #474744;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C4C9B1;
$primary: #C4C9B1;
$onPrimary: #2D3222;
$primaryContainer: #444937;
$onPrimaryContainer: #E0E5CD;
$inversePrimary: #5B614D;
$secondary: #C6C8B8;
$onSecondary: #2F3227;
$secondaryContainer: #45483C;
$onSecondaryContainer: #E2E4D4;
$tertiary: #C2CAAA;
$onTertiary: #2C331C;
$tertiaryContainer: #8C9477;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E0E5CD;
$primaryFixedDim: #C4C9B1;
$onPrimaryFixed: #191D0E;
$onPrimaryFixedVariant: #444937;
$secondaryFixed: #E2E4D4;
$secondaryFixedDim: #C6C8B8;
$onSecondaryFixed: #1A1D13;
$onSecondaryFixedVariant: #45483C;
$tertiaryFixed: #DEE6C5;
$tertiaryFixedDim: #C2CAAA;
$onTertiaryFixed: #171E09;
$onTertiaryFixedVariant: #424A31;
